header {
  background-color: #1e222b;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .header {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 30px;

    .qweqwe {
      display: flex;
    }

    .logo {
      img {
        width: 180px;
      }
    }

    nav {
      margin-left: 50px;
      display: flex;
      align-items: center;
      gap: 30px;
      a {
        font-weight: 500;
        color: #fff;

        &:hover {
          color: #ff8b28;
        }
      }
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 6px;
      width: 32px;
      height: 35px;
      cursor: pointer;
      position: relative;
      z-index: 12;

      &.active {
        div {
            position: absolute;
          &.line-1 {
            width: 100%;
            transform: rotate(45deg);
          }
          &.line-2 {
            opacity: 0;
            transform: translateX(-5px);
          }
          &.line-3 {
            transform: rotate(-45deg);
          }
        }

      }

      div {
        width: 100%;
        height: 3px;
        background-color: #fff;

        &.line-1 {
          width: 80%;
        }

        &.line-2 {
          width: 50%;
        }

        &.line-3 {
          width: 100%;
        }
      }
    }
  }
}
